<h1>Listado de Clientes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Image</th>
    <th>Phone</th>
    <th>Cell phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <td><%= customer.image %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.cell_phone %></td>
    <td><%= link_to 'Ver Detalle', customer %></td>
    <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
    <td><%= link_to 'Eliminar', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

<tr>
  <td align="left"> <h3><%= link_to 'Nuevo Cliente', new_customer_path %> </h3></td>
</tr>
</table>

<br />

<%= link_to 'Regresar a Home', homes_path %>
