<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Image:</b>
  <%= @customer.image %>
</p>

<p>
  <b>TelefonoCasa:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Numero Celular:</b>
  <%= @customer.cell_phone %>
</p>

<ul>
  <% @customer.patients.each do |patient| %>
  <li><%= patient.name %></li>
  <%end%>
</ul>

<%= link_to 'Edicion', edit_customer_path(@customer) %> |
<%= link_to 'Regresar', customers_path %>
