<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Image:</b>
  <%= @customer.image %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @customer.cell_phone %>
</p>

<ul>
  <% @customer.patients.each do |patient| %>
  <li><%= patient.name %></li>
  <%end%>
</ul>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
