<h1>Listado de Pacientes</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Species</th>
    <th>Race</th>
    <th>Gender</th>
    <th>Blood type</th>
    <th>Sterilized</th>
    <th>Size</th>
    <th>Activity</th>
    <th>Weight</th>
    <th>Date of birth</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.owner %></td>
    <td><%= patient.species %></td>
    <td><%= patient.race %></td>
    <td><%= patient.gender %></td>
    <td><%= patient.blood_type %></td>
    <td><%= patient.sterilized %></td>
    <td><%= patient.size %></td>
    <td><%= patient.activity %></td>
    <td><%= patient.weight %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.customer %></td>
    <td><%= link_to 'Ver Detalle', patient %></td>
    <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
    <td><%= link_to 'Eliminar', patient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<tr>
  <td align="left"> <h3><%= link_to 'Nuevo Paciente', new_patient_path %> </h3></td>
</tr>
</table>

<br />

<%= link_to 'Regresar a Home', homes_path %>


