<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="../assets/ie.css" type="text/css">
        <link rel="stylesheet" href="../assets/print.css" type="text/css">
        <link rel="stylesheet" href="../assets/screen.css" type="text/css">
        <link rel="stylesheet" href="../assets/styles.css" type="text/css">
		<script src="../assets/SpryTabbedPanels.js" type="text/javascript"></script>
		<link href="../assets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
        <script language="JavaScript" src="../assets/scripts.js"></script>
        <title>Veterinaria Patita</title>
    </head>
    <body>
        <div class="container-page">

            <!-- Inicio Cabecera del Sistema -->
            <div id="encabezado" class="span-24 last">				
                <div id="logo" class="span-24 last">
                    <img src="../assets/logo.png" />
                </div>
                <!--div id="aplicacion" class="span-7 last">
                    Nombre de la Aplicaci&oacute;n
                </div-->
                				
            </div>
            <!-- Fin Cabecera del Sistema -->

			<!-- Inicio Menu del Sistema -->
				<div class="span-24 last">
					<div class="barra-menu span-24 last">
						<ul class="menu-1">
							<li><a href="/vaccines">Citas de Vacunas</a></li>
							<li><a href="/events">Citas de Eventos</a></li>
							<li class="active"><a href="/patients/index">Pacientes</a></li>
							<li><a href="/customers/index">Clientes</a></li>
							<li><a href="/prospectus/index">Prospectos</a></li>
							<li><a href="/doctors/index">Doctores</a></li>
							<li><a href="/users">Usuarios</a></li>
						</ul>
						<div class="menu-2 span-24 last">
							<div class="span-16 active">
								<%= link_to 'Nuevo Paciente', new_patient_path %>
							</div>
							<div id="usuario" class="span-8 last">
								Usuario: Dora Arpi | <a href="#">Cerrar Sessi&oacute;n</a>
							</div>
						</div>
					</div>
				</div>
            <!-- Fin Menu del Sistema -->
			
            <!-- Inicio Cuerpo de la Pagina -->
            <div class="span-24 last">
		<h3>Listado de Pacientes</h3>

			<table>
			  <tr>
				<th>Propietario</th>
				<th>Especie</th>
				<th>Raza</th>
				<th>Genero</th>
				<th>Tipo Sanguineo</th>
				<th>Esterelizado</th>
				<th>Talla</th>
				<th>Actividad</th>
				<th>Peso</th>
				<th>Fecha Nacimiento</th>
			   
				<th></th>
				<th></th>
				<th></th>
			  </tr>

			<% @patients.each do |patient| %>
			  <tr>
				<td><%= patient.customer.name %></td>
				<td><%= patient.species %></td>
				<td><%= patient.race %></td>
				<td><%= patient.gender %></td>
				<td><%= patient.blood_type %></td>
				<td><%= patient.sterilized %></td>
				<td><%= patient.size %></td>
				<td><%= patient.activity %></td>
				<td><%= patient.weight %></td>
				<td><%= patient.date_of_birth %></td>
			   
				
				<td><%= link_to 'Ver Detalle', patient %></td>
				<td><%= link_to 'Editar', edit_patient_path(patient) %></td>
				<td><%= link_to 'Eliminar', patient, confirm: 'Esta seguro de eliminar el registro?', method: :delete %></td>
			  </tr>
			<% end %>
		
			</table>

			<br />

			<%= link_to 'Regresar a Home', homes_path %>

			</div>
	
			<!--script type="text/javascript">
			var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
			
			  </script-->
            <!-- Fin Cuerpo de la Pagina -->

            <!-- Inicio Pie del Sistema --> 
            <div id="pie" class="span-24 last">
                Derechos Reservados
            </div>
            <!-- Fin Pie del Sistema --> 
        </div>
    </body>
</html>
