<p id="notice"><%= notice %></p>

<p>
  <b>Propietario:</b>
  <%= @patient.customer.name %>
</p>

<p>
  <b>Especie:</b>
  <%= @patient.species %>
</p>

<p>
  <b>Raza:</b>
  <%= @patient.race %>
</p>

<p>
  <b>Genero:</b>
  <%= @patient.gender %>
</p>

<p>
  <b>Tipo_Sangre</b>
  <%= @patient.blood_type %>
</p>

<p>
  <b>Esterilizado:</b>
  <%= @patient.sterilized %>
</p>

<p>
  <b>Tamano:</b>
  <%= @patient.size %>
</p>

<p>
  <b>Actividad:</b>
  <%= @patient.activity %>
</p>

<p>
  <b>Peso:</b>
  <%= @patient.weight %>
</p>

<p>
  <b>Fecha_Nacimiento:</b>
  <%= @patient.date_of_birth %>
</p>




<%= link_to 'Modificar', edit_patient_path(@patient) %> |
<%= link_to 'Regresar', patients_path %>
