<h1>Listado de Doctores</h1>

<table>
  <tr>
    <th>Administrador</th>
    <th>Apellido</th>
    <th>Mail</th>
    <th>Telefono</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.administrator %></td>
    <td><%= doctor.name_surname %></td>
    <td><%= doctor.mail %></td>
    <td><%= doctor.phone %></td>
    <td><%= doctor.user %></td>
    <td><%= link_to 'Ver Detalle', doctor %></td>
    <td><%= link_to 'Editar', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Eliminar', doctor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

<tr>
  <td align="left"> <h3><%= link_to 'Nuevo Doctor', new_doctor_path %> </h3></td>
</tr>
</table>

<br />

<%= link_to 'Regresar a Home', homes_path %>

