<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @doctor.administrator %>
</p>

<p>
  <b>Apellido:</b>
  <%= @doctor.name_surname %>
</p>

<p>
  <b>Email:</b>
  <%= @doctor.mail %>
</p>

<p>
  <b>Telefono:</b>
  <%= @doctor.phone %>
</p>

<p>
  <b>Usuario:</b>
  <%= @doctor.user %>
</p>


<%= link_to 'Consultar', edit_doctor_path(@doctor) %> |
<%= link_to 'Regresar', doctors_path %>
