<%= form_for(@prospectu) do |f| %>
  <% if @prospectu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospectu.errors.count, "error") %> prohibited this prospectu from being saved:</h2>

      <ul>
      <% @prospectu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Foto %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Celular %><br />
    <%= f.text_field :cell_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
