<h1>Listado de Prospectos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Direccion</th>
    <th>Image</th>
    <th>Telefono Casa</th>
    <th>Numero Celular</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prospectus.each do |prospectu| %>
  <tr>
    <td><%= prospectu.name %></td>
    <td><%= prospectu.email %></td>
    <td><%= prospectu.address %></td>
    <td><%= prospectu.image %></td>
    <td><%= prospectu.phone %></td>
    <td><%= prospectu.cell_phone %></td>
    <td><%= link_to 'Ver Detalle', prospectu %></td>
    <td><%= link_to 'Editar', edit_prospectu_path(prospectu) %></td>
    <td><%= link_to 'Eliminar', prospectu, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Switch to Owner', prospectu, confirm: 'Are you sure?' %></td>
  </tr>
<% end %>
<tr>
  <td align="left"> <h3><%= link_to 'Nuevo Prospecto', new_prospectu_path %> </h3></td>
</tr>
</table>

<br />

<%= link_to 'Regresar a Home', homes_path %>


