<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prospectu.name %>
</p>

<p>
  <b>Email:</b>
  <%= @prospectu.email %>
</p>

<p>
  <b>Address:</b>
  <%= @prospectu.address %>
</p>

<p>
  <b>Image:</b>
  <%= @prospectu.image %>
</p>

<p>
  <b>Phone:</b>
  <%= @prospectu.phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @prospectu.cell_phone %>
</p>


<%= link_to 'Edit', edit_prospectu_path(@prospectu) %> |
<%= link_to 'Back', prospectus_path %>
