<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @prospectu.name %>
</p>

<p>
  <b>Email:</b>
  <%= @prospectu.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @prospectu.address %>
</p>

<p>
  <b>Image:</b>
  <%= @prospectu.image %>
</p>

<p>
  <b>Telefono_Casa:</b>
  <%= @prospectu.phone %>
</p>

<p>
  <b>Celular:</b>
  <%= @prospectu.cell_phone %>
</p>


<%= link_to 'Modificar', edit_prospectu_path(@prospectu) %> |
<%= link_to 'Regresar', prospectus_path %>
